<div class="container mt-3">
  <form [formGroup]="form" (ngSubmit)="newNotification(form.value)" novalidate>
   <div class="row">

     <div class="col-6">
      <div class="form-group">
        <label for="FormsModule">Title</label>
        <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title">
      </div>
     </div>

     <div class="col-6">
        <div class="form-group">
            <label for="message">Message</label>
            <input type="text" formControlName="message" class="form-control" id="message" placeholder="Message">
          </div>
     </div>

     <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
     </div>

    </div>
  </form>

  <div class="mt-3">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <i class="fa fa-bell-o"></i>{{ notifications?.length || 0}}
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
      <div class="card">
        <div *ngIf="notifications?.length">
          <div *ngFor="let notification of notifications; let i=index">
            <div [ngClass]="{'alert': true, 'alert-success': n?.alert === 'alert-success', 'alert-danger': n?.alert === 'alert-danger', 'alert-warning': n?.alert === 'alert-warning'}"
              role="alert">
              {{ notification?.message }}
              {{ notification?.tipo }} -
              {{notification?.title}}
              <a href="#" class="alert-link">
                {{ notification?.date | date: "dd/MM/yyyy hh:mm"}}
              </a>
            </div>

          </div>
          <p>
            <a href="">Ver todas as notificações</a>
          </p>
        </div>

        <div *ngIf="!notifications?.length">
          <div class="card-body">
            <img src="assets/img/load.gif">
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
