<div class="container mt-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="form-group">
      <label for="FormsModule">Title</label>
      <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <input type="text" formControlName="message" class="form-control" id="message" placeholder="Message">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="row mt-3">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Notificação 01</h4>
          <p class="card-text">Usuário Rafael Neves criou um atendimento.</p>
        </div>
      </div>
    </div>
  </div>

  <p>Form value: {{ form.value | json }}</p>
  
</div>
