<div class="container mt-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="form-group">
      <label for="FormsModule">Title</label>
      <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <input type="text" formControlName="message" class="form-control" id="message" placeholder="Message">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="mt-3">
  <p>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        {{notifications.length || 0}} notificações
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body" *ngFor="let n of notifications">
         {{ n.message }} {{ n.userCreate }} {{ n.date }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">CreatedBy</th>
            <th scope="col">CreatedAt</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let call of calls">
            <th scope="row">{{ call.id }}</th>
            <td>{{ call.title }}</td>
            <td>{{ call.message }}</td>
            <td>{{ call.createdBy }}</td>
            <td>{{ call.createdAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
